
.menusub{  
      margin-bottom: 16px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.274);
   cursor: pointer;
}

.menusubactive{
    background-color: #060079;
    margin-right: 12px;
    margin-bottom: 16px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.274);
    padding: 5px;
    border-radius: 0.1px;
    cursor: pointer;
   
}
.settingsmenu{
    padding-bottom: 10px;
}